.price_by_night {
  display: flex;
  font-size: 30px;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  width: 0px;
  position: absolute;
  top: 7%;
  right: 5%;
  padding: 10px;
}

.price_by_night p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.information {
  display: flex;
  justify-content: center;
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-top: 75px;
}

.max_guest::before {
  content: url("../images/icon_group.png");
  display: block;
}

.number_rooms::before {
  content: url("../images/icon_bed.png");
  display: block;
}

.number_bathrooms::before {
  content: url("../images/icon_bath.png");
  display: block;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  padding: 5px 0;
}

.max_guest p,
.number_bathrooms p,
.number_rooms p {
  margin: 0;
}

.user p {
  padding-top: 4px;
  margin-bottom: 0;
}

.user span {
  font-weight: 900;
}

.description p {
  margin-top: 8px;
}
